/p#notice = notice
/
/p
/  strong Name:
/  = @twitter_image.name
/p
/  strong Image data:
/  = @twitter_image.image_data
/
/=< link_to 'Back', twitter_images_path

img src="/uploads/#{@path}" style='float: left; width: 70%'
pre style='float: left;'
  = JSON.pretty_generate(JSON.parse(@patterns))
