aniso8601==3.0.0
asn1crypto==0.24.0
bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
configparser==3.5.0
cryptography==2.2.2
cycler==0.10.0
Fabric==1.14.0
Flask==0.12.2
gunicorn==19.7.1
idna==2.6
influxdb==5.0.0
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.14.2
pandas==0.22.0
paramiko==2.4.1
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
TA-Lib==0.4.17
urllib3==1.22
Werkzeug==0.14.1
