{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    <h1>BitReport magic</h1>
    <p class="lead">
        Samples
    </p>
    <lu>
        <li><a href="http://0.0.0.0:3000/admin/preview?symbol=TESTSYMMBTC&timeframe=1">Symmetrical Triangle</a></li>

        <li><a href="http://0.0.0.0:3000/admin/preview?symbol=TESTASCBTC&timeframe=1">Ascending Triangle</a></li>
        <li><a href="http://0.0.0.0:3000/admin/preview?symbol=TESTASCBREAKBTC&timeframe=1">Ascending Triangle Break</a></li>
        <li><a href="http://0.0.0.0:3000/admin/preview?symbol=TESTASCSLOPEUPBTC&timeframe=1">Ascending Triangle Start Up</a></li>
        <li><a href="http://0.0.0.0:3000/admin/preview?symbol=TESTASCSLOPEDOWNBTC&timeframe=1">Ascending Triangle Start Down</a></li>

        <li><a href="http://0.0.0.0:3000/admin/preview?symbol=TESTDESCBTC&timeframe=1">Descending Triangle</a></li>
        <li><a href="http://0.0.0.0:3000/admin/preview?symbol=TESTDESCBREAKBTC&timeframe=1">Descending Triangle Break</a></li>
                <li><a href="http://0.0.0.0:3000/admin/preview?symbol=TESTDESCSLOPEUPBTC&timeframe=1">Descending Triangle Start Up</a></li>
        <li><a href="http://0.0.0.0:3000/admin/preview?symbol=TESTDESCSLOPEDOWNBTC&timeframe=1">Descending Triangle Start Down</a></li>

        <li><a href="http://0.0.0.0:3000/admin/preview?symbol=TESTDTBTC&timeframe=1">Double Top</a></li>
        <li><a href="http://0.0.0.0:3000/admin/preview?symbol=TESTDBBTC&timeframe=1">Double Bottom</a></li>
        <li><a href="http://0.0.0.0:3000/admin/preview?symbol=TESTCHANBTC&timeframe=1">Channel</a></li>
    </lu>
</div>
{% endblock body %}