h1 = "#{@twitter_image.timeframe}#{@twitter_image.symbol}#{@twitter_image.limit}"

p#notice = notice

= image_tag @twitter_image.image[:original].url, class: 'ui image'

p Patterns
p = @twitter_image.patterns
p Indicators
p = @twitter_image.indicators

= link_to 'Back', admin_twitter_images_path
